---
layout: page
title: 分类查看
description: "分类查看"
categories: category
---

<section class="subject-archive">
  <div class="subject-vision">
  <ul>
    {% for category in site.categories %}
    <li><a href="/categories/#{{ category[0] }}-ref">
      {{ category[0] | join: "/" }}</a>
    <sup>{{ category.size }}</sup></li>
    {% endfor %}
 </ul>
  </div>
</section>

<section class="subject-archive">
  <div class="post">
    {% for category in site.categories %}
    <div class="subject">
      <h3 class="subject-head" id="{{ category[0] }}-ref">
        {{ category[0] | join: "/" }}
      </h3>
      
      <ul class="post-list">
        {% for post in category[1] %}
        
        <li><span>{{ post.date | date: "%Y-%m-%d" }}</span>
          <a href="{{ post.url }}">{{ post.title }}</a></li>
        
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>

