---
layout: page
title: 话题
description: "按话题查看"
categories: category
permalink: /话题列表/
---

<section class="subject-archive">

  <div class="subject-vision">

    {% for tag in site.tags %}
    <a href="/话题列表/#{{tag[0]}}-ref" id="{{ forloop.index }}" class="tag-vision">{{ tag[0] }}</a>
    <sup>{{tag[1].size}}</sup>
    {% endfor %}
    
  </div>
</section>

<section class="subject-archive">
<div class="post">
    {% for tag in site.tags %}
    <div class="subject">
      <h3 class="subject-head" id="{{ tag[0] }}-ref">
        {{ tag[0] | join: "/" }}
      </h3>

      <ul class="post-list">
        {% for post in tag[1] %}
        <li><span class="post-date">{{ post.date | date: '%Y-%m-%d' }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
</div>
</section>








