<div class="left-top-hook"></div><!-- 站内信息 -->
<div class="right-top-hook"></div><!-- 页内信息 -->
<div class="left-middle-hook"></div><!-- 页内操作 -->
<div class="right-middle-hook"></div><!-- 页内导航 -->
<div class="right-bottom-hook"></div><!-- 站内系统 -->
<div class="left-bottom-hook"></div><!-- 站内栏目 -->

<header class="site-header">  
  <nav class="site-nav">
    <ul>
      <li><a href="/">外立面面</a></li>
      <li><a href="/categories/">按分类查看</a></li>
      <li><a href="/tags/">按话题查看</a></li>
      <li><a href="/archive/">按时间查看</a></li>
      <li><a href="/resources/">好友关系</a></li>
      <li><a href="/about/">关于我</a></li>
    </ul>
  </nav>
  

  
</header>  

<nav class="outline toc">
</nav>
