<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="黑传说的私人笔记">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!-- 皮肤样式 -->
<link rel="stylesheet" href="{{ site.themes | prepend: site.baseurl }}/css/style.css">

<!-- 首页和404各站特异的样式 -->
<link rel="stylesheet" href="{{ "/static/main.css" | prepend: site.baseurl }}">

<link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">

</head>