---
layout: default
title: 分类
description: "分类查看"
categories: category
---
<h1>分类查看</h1>
<section class="subject-archive">
  <div class="subject-vision">
      {% for category in site.categories %}
        <a href="/category/categories.html#{{ category[0] }}-ref">
        {{ category[0] | join: "/" }}</a>
        <sup>{{ category.size }}</sup>
      {% endfor %}
 </ul>
  </div>
</section>

<section class="subject-archive">
  <div class="post">
    {% for category in site.categories %}
    <div class="subject">
      <h3 class="subject-head" id="{{ category[0] }}-ref">
        {{ category[0] | join: "/" }}
      </h3>
        
      <ul class="post-list">
        {% for post in category[1] %}
            
        <li><span>{{ post.date | date: "%Y-%m-%d" }}</span>
          <a href="{{ post.url }}">{{ post.title }}</a></li>
          
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>

