---
layout: default
title: 话题
categories: category;
---

<h1>话题</h1>

<section class="subject-archive">
  <div class="subject-vision">
    {% for tag in site.tags %}
    <a href="/category/tags.html#{{ tag[0] }}-ref" id="{{ forloop.index }}" class="tag-vision">{{ tag[0] }}</a><sup>{{ tag.size }}</sup>
    {% endfor %}
  </div>
  <script type="text/javascript">
   $(function() {
      var minFont = 12.0,
          maxFont = 36.0,
          diffFont = maxFont - minFont,
          size = 0;
       
      {% assign max = 1.0 %}
      {% for tag in site.tags %}
         {% if tag[1].size > max %}
            {% assign max = tag[1].size %}
         {% endif %}
      {% endfor %}
            
      {% for tag in site.tags %}
         size = (Math.log({{ tag[1].size }}) / Math.log({{ max }})) * diffFont + minFont;
         $("#{{ forloop.index }}").css("font-size", size + "px");
      {% endfor %}
   });
  </script>
</section>

<section class="subject-archive">
<div class="post">
    {% for category in site.tags %}
    <div class="subject">
      <h3 class="subject-head" id="{{ category[0] }}-ref">
        {{ category[0] | join: "/" }}
      </h3>

      <ul class="post-list">
        {% for post in category[1] %}
        <li><span>{{ post.date | date: '%Y-%m-%d' }}</span>
          <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
</div>
</section>

