<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <div class="site">

      {% include header.html %}
      
      {{ content }}

      {% include footer.html %}

    </div>
    <script data-main="{{ site.url }}{{ site.themes }}/static/javascript/main" src="{{ site.url }}{{ site.themes }}/static/javascript/require.js"  defer async="true"></script>
    
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="{{ site.url }}{{ site.themes }}/javascript/modules/jquery.js"></script>
    <script type="text/javascript" src="{{ site.url }}{{ site.themes }}/javascript/outliner.js"></script>
  </body>
</html>