---
layout: default
---

<div class="post">
  
  <header class="post-header">
    <h1 id="{{ page.title }}">
      {% if page.categories.size != 0 %}
      <span class="post-categories">
        {% for cat in page.categories %}
        <a href="/分类列表/#{{ cat }}-ref">{{ cat }}</a>
        {% endfor %}
      </span>
      {% endif %}
      
      {{ page.title }}</h1>

    <div class="post-abstract">
      {% if page.description %}
      <p class="post-description"><b>摘要：</b><br/>{{page.description}}</p>
      {% endif %}

      {% if page.tag.size != 0 %}
      <p class="post-tag"><b>话题：</b>
        {% for tag in page.tags %}
        <a href="/话题列表/#{{tag}}-ref">{{tag}}</a>
        <sup>{{ site.tags[tag].size }}</sup>
        &nbsp;
        {% endfor %}
      </p>
      {% endif %}
      
    </div>

    <p class="meta">
      创建时间：{{ page.date | date: '%Y-%m-%d' }}
      {% if page.author %} • {{ page.author }}{% endif %}
      {% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
    
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% include post-end.html %}
 
</div>



